body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 9vh;
}
.flex{
    display: flex;
}
#celular{
    background-color: rgb(49, 187, 71);
    height: 50vh;
}
#correo{
    background-color: rgb(190, 190, 158);
    height: 50vh;
}
img{
    margin-left: 1%;
    margin-right: 5%;
    height: 50vh;
    width: 50vh;
}
